* {
    box-sizing: border-box;
}

a:link {
    color: #d45678;
}

a:visited {
    color: #d45678;
}

a:hover {
    color: hotpink;
}

a:active {
    color: #d45678;
}

body {
    font-family: 'Quicksand', sans-serif;
    /* font-family: 'Ubuntu', sans-serif; */
    margin: 0;
}

.topborderimg {
    border-top-style: solid;
    border-color: #00c8af;
    border-width: thick;
}

.img-border {
    border: 7px solid #00c8af;
    padding: 7px;
    margin: 20px 20px;
}

.header {
    padding: 80px;
    text-align: center;
    background: #00c8af;
    /* background-image: linear-gradient(to top left, #00c8af, #d45678); */
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: solid;
    border-width: thick;

    /*background-image: url("images/Code.jpg");
    /* opacity: 0.85; */


    color: white;
}

.header h1 {
    font-size: 90px;
}

.header h2 {
    font-size: 30px;
}

.header h3 {
    font-size: 20px;
}

.blackground .caption {
    background-color: #333;
    font-size: 90px;
    padding: 25px;
    /*background-image: url("Black.jpg");*/
    /*
    color: white;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
    */
}

/* Sticky navbar - toggles between relative and fixed, depending on the scroll position. It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed). The sticky value is not supported in IE or Edge 15 and earlier versions. However, for these versions the navbar will inherit default position */
.navbar {
    overflow: hidden;
    background-color: white;
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    padding: 10px 200px;
    box-shadow: 0 4px 12px #eee;
    border-top-style: solid;
    border-color: #00c8af;
    /* border-left-style: solid; */
    border-width: thick;
    z-index: 1;
}

/* navigation bar links styling */
.navbar a {
    float: right;
    display: block;
    color: #00c8af;
    font-size: 17px;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a:hover {
    /* background-color: #f5f5f5; */
    color: #ff3344;
}

/* left-aligned link */
.navbar a.left {
    float: left;
    padding: 6px 6px;
}

/*
.navbar a.left:hover{
    background-color: #f5f5f5;
}
*/

.centerbody {
    text-align: center;
    background: white;
    color: #333;
    padding-top: 80px;
    padding-bottom: 80px;
}

.centerbody h1 {
    font-size: 60px;
    margin: 20px;
}

.centerbody h3 {
    color: #00c8af;
}

.padcenterbody {
    padding-left: 80px;
    padding-right: 80px;
}

.container {
    padding: 85px;
    text-align: left;
    background: #f5f5f5;
    color: #333;
    margin: auto;
    width: 95%;
    border-top: solid thick #00c8af;
}

.container img {
    border-radius: 50%;
}

.slant {
    -webkit-clip-path: polygon(0 0, 1600px 0, 1600px 100%, 0 90%);
    clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);
}

.parallax {
    position: relative;
    background-attachment: fixed;
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 {
    position: relative;
    background-attachment: fixed;
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: cover;

    padding: 20px;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }

    .parallax2 {
        background-attachment: scroll;
    }
}

.piccontainer {
    background-image: url("Chip.jpg");
    padding: 20px;
}

/* column container */
.row {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* smaller column */
.side {
    -ms-flex: 30%;
    /* IE10 */
    flex: 30%;
    padding: 20px;
    text-align: right;
}

/* bigger column */
.main {
    -ms-flex: 70%;
    /* IE10 */
    flex: 70%;
    padding: 0;
}

.footer {
    padding: 5px;
    text-align: center;
    background: #f5f5f5;
    color: #333;
}